@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.multicolortext {
  background: linear-gradient(135deg, #176feb, #ff80ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.background {
  background-image: url("/assets/images/waves.png");
}

.background-button {
  background: linear-gradient(135deg, #176feb, #ff80ff);
}